
#customDateInputs{
    position: absolute;
    z-index: 99;
    width: 360px;
}

#calender i{
    font-size: 25px;
    cursor: pointer;
}

.login-section{
    width: 30%;
}

.view{
    cursor: pointer;
}