
#customDateInputs{
    position: absolute;
    z-index: 99;
    width: 360px;
}

#calender i{
    font-size: 25px;
    cursor: pointer;
}

.login-section{
    width: 30%;
}

.view{
    cursor: pointer;
}

.btn{
    background: #d30000;
    border-color: #d30000;
    cursor: pointer;
}

#viewModal .modal-dialog{
    max-width: 800px;
}